body{
    background: lightblue;
    color: navy;
    margin: 0px;
    margin-bottom: 100px;
    
}

.chamada{
    background: blueviolet;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}